In [2]:
import numpy as np

In [11]:
my_list = [1,2,3,4,5]
my_array = np.array(my_list)
my_array

array([1, 2, 3, 4, 5])

In [12]:
type(my_array)

numpy.ndarray

In [13]:
#此陣列裡元素的類型，必須一致
my_array.dtype

dtype('int32')

In [14]:
my_array.itemsize

4

In [15]:
my_array.shape

(5,)

In [16]:
my_array.size

5

In [17]:
my_array.ndim

1

In [18]:
my_array

array([1, 2, 3, 4, 5])

In [20]:
my_array.fill(0)
my_array

array([0, 0, 0, 0, 0])

索引與切片，都和Python一樣

In [24]:
my_list = [1,2,3,4,5]
my_array = np.array(my_list)
my_array[0]

1

In [25]:
my_array[1:3]

array([2, 3])

In [26]:
my_array[-2:]

array([4, 5])

矩陣格式(多為型式)

In [27]:
my_array = np.array([[1,2,3],
                    [4,5,6],
                    [7,8,9]])
my_array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [28]:
my_array.shape

(3, 3)

In [29]:
my_array.size

9

In [30]:
my_array.ndim

2

In [31]:
my_array[1,1]

5

In [32]:
my_array[1,1] = 10
my_array

array([[ 1,  2,  3],
       [ 4, 10,  6],
       [ 7,  8,  9]])

In [33]:
my_array[1]

array([ 4, 10,  6])

In [35]:
my_array[:, 1]

array([ 2, 10,  8])

In [36]:
my_array[0,0:2]

array([1, 2])

In [37]:
my_array

array([[ 1,  2,  3],
       [ 4, 10,  6],
       [ 7,  8,  9]])

In [38]:
my_array2 = my_array
my_array2

array([[ 1,  2,  3],
       [ 4, 10,  6],
       [ 7,  8,  9]])

In [40]:
my_array2[1,1] = 100
my_array2

array([[  1,   2,   3],
       [  4, 100,   6],
       [  7,   8,   9]])

In [41]:
my_array

array([[  1,   2,   3],
       [  4, 100,   6],
       [  7,   8,   9]])

In [42]:
my_array2 = my_array.copy()
my_array2

array([[  1,   2,   3],
       [  4, 100,   6],
       [  7,   8,   9]])

In [44]:
my_array2[1,1] = 10000
my_array2

array([[    1,     2,     3],
       [    4, 10000,     6],
       [    7,     8,     9]])

In [45]:
my_array

array([[  1,   2,   3],
       [  4, 100,   6],
       [  7,   8,   9]])

In [46]:
#製作等差數組
my_array = np.arange(0,100,10)
my_array

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [50]:
mask = np.array([0,0,0,1,1,1,0,0,1,1],dtype=bool)
mask

array([False, False, False,  True,  True,  True, False, False,  True,  True], dtype=bool)

In [51]:
my_array[mask]

array([30, 40, 50, 80, 90])

In [52]:
random_array = np.random.rand(10)
random_array

array([ 0.75601348,  0.32463586,  0.89197633,  0.09325296,  0.33076201,
        0.3572004 ,  0.62390627,  0.31006547,  0.40691764,  0.84058512])

In [53]:
mask = random_array > 0.5
mask

array([ True, False,  True, False, False, False,  True, False, False,  True], dtype=bool)

In [54]:
my_array[mask]

array([ 0, 20, 60, 90])

In [55]:
my_array = np.array([10,20,30,40,50])
my_array > 30

array([False, False, False,  True,  True], dtype=bool)

In [56]:
np.where(my_array > 30)

(array([3, 4], dtype=int64),)

In [58]:
my_array[np.where(my_array > 30)]

array([40, 50])

In [4]:
my_array = np.array([1,2,3,4,5],dtype=np.float32)
my_array

array([ 1.,  2.,  3.,  4.,  5.], dtype=float32)

In [5]:
my_array.dtype

dtype('float32')

In [6]:
my_array.nbytes

20

In [8]:
my_array = np.array([1,10,3.5,'str'] , dtype = np.object)
my_array

array([1, 10, 3.5, 'str'], dtype=object)

In [9]:
my_array * 2

array([2, 20, 7.0, 'strstr'], dtype=object)

In [11]:
my_array = np.array([1,2,3,4,5])
my_array2 = np.asarray(my_array,dtype = np.float32)
my_array2

array([ 1.,  2.,  3.,  4.,  5.], dtype=float32)

In [12]:
my_array

array([1, 2, 3, 4, 5])

In [13]:
my_array.astype(np.float32)

array([ 1.,  2.,  3.,  4.,  5.], dtype=float32)

In [14]:
my_array

array([1, 2, 3, 4, 5])